

.receipts{
    border: 1px solid black;
    min-width: 300px;
    max-width: 450px;
    border-radius: 10px;
    background-color: blanchedalmond;
    display: flex;

    
    
    
    
    p{
        width: 50%;
    }
}