

.receipts{
    border: 1px solid black;
    min-width: 300px;
    max-width: 450px;
    border-radius: 10px;
    background-color: blanchedalmond;
    display: flex;
    
    img{
        max-height: 30px;
        max-width: 30px;
        position: abs;
        bottom: 0;
        left: 0;
    }
    
    p{
        width: 50%;
    }
}