@use '../styles/variables';

.trips-display{
    display: flex;
    flex-direction: column;
    align-items: center;    
    
   
    main{              
        font-size: larger;        
        background-color: rosybrown;
        border: 1px black solid;
        display: flex;
        img{
            
        }  
        flex-direction: column;      
    }
    
    
    h5{
        position: absolute;
        top: 20px;
        left: 100px;   
        
    }
    
}
.trip-title{
    // background-color: red;
    display: flex;
    justify-content: space-between;
         
    }
.display-pie-chart{
    height: 150px;
    width: 150px;   
        
}   
.display-bar-chart{
    height: 200px;
    width: 450px;  
    position: relative;
    
}  