
button{
    border-radius: 20px;
}
main{

}
.welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    p{
        width: 400px;
        text-align: center;
    }
    img{
        max-height: 300px;
        border: 2px solid black;
    }
}
.welcome-inst{
    border: 2px solid black;
    display: flex;
    width: 500px;
    font-size: 1.5rem;
}