@use './variables' as v;

form{
    min-width: 100px;
    max-width: 150px;    
    display: flex;
    flex-direction: column;
    text-align: center;
    input{
        background-color: bisque;
        border-radius: 10px;
        &[name="total"]{
            background-color: v.$accent2;
        }
        &[name="date_created"]{
            color: blue;
            
        }
        }
    
}